@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css?family=New+Rocker&display=swap');
/* TITLE */
h1 {
    font-family: 'Rye', cursive, Courier, monospace;
    font-size: 85px;
    text-align: center;
    background: url('../img/natural_paper.png');
}
img {
    width: 100%;
    height: 100%;
}
h4 {
        background: url('../img/wkmafia.jpg') no-repeat center center fixed; 
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
        background-size: cover;
     
}
body {
    background: url('../img/mosaic.png');

}
/* OWL */
.wrapper {
    width: 100%;
    height: 625px;
    overflow: hidden;
}
.item {
    background: red;
    height: auto;
    width: 100%;
}
.owl-dots {
    display: none;
}
/* NAV */
.navbar-nav {
    display: inline;
}
.navbar {
    background-color: #004b06bb;
    overflow: hidden;
    height: 63;
    position: relative;
    display: block;
}

.navbar a {
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:24px;
    font-family: 'Rye', Courier, monospace;
}

.navbar ul{
    padding: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: rgb(112, 4, 4);
    color:#ff4646;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111111;
    opacity:0.9;
    overflow-x: hidden;
    padding-top:60px;
    transition: 0.3s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size:22px;
    color: #ff4646;
    display: block;
    transition: 0.3s;
    font-family: 'Rye', Courier, monospace;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;

}

#main{
    transition: margin-left 0.3s;
    padding:20px;
    overflow:hidden;
    width: 100%;
}

/* ABOUT */
.aboutSaint {
    font-family: 'New Rocker', 'Arial Narrow', Arial, sans-serif;
    text-align: justify;
}

#about{
    padding-top: 98px;
    padding-bottom: 101px;
}

.shape {
    margin-top: 50px;
    width: 0;
    height: 0;
    border-top: 259px solid transparent;
    border-left: 400px solid #d6c6b2;
    border-bottom: 259px solid transparent;
}

.fa-play{
    font-size: 100px;
}
#about .p-first{
    margin-bottom: 30px;
}
#about h2{
    margin-bottom: 47px;
    margin-top:12px;
}

#about .social-link-text {
    margin-top: 50px;
    margin-bottom: 25px;
}

#about .about-link{
    padding-left: 0px;
}

#about .about-link li{
    display: inline-block;
}

#about .about-link li a i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    border: 1px solid #d6c6b2;
    margin-right: 10px;
    font-size: 23px;
    color: #d6c6b2;
    transition: all .3s;
}

#about .about-link li a i:hover{
    color: #222222;
    background: #d6c6b2;
    border-color: #d6c6b2;
}

#about .about-img{
    position: relative;
}

#about .about-img{
    position: relative;
}

#about .about-img .man{
    position: absolute;
    bottom: 161px;
    top: 12px;
    left: -2px;
}

.color-3{
    /* padding-top: 10px; */
    color: #d6c6b2;
}

.text-white{
    color: #fff;
}

p{
    margin-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.btn-danger{
    border-radius: 0;
    padding: 10px 20px;
    font-size: 26px;
}



@media(max-width: 586px){
    .navbar-nav{display: none;}
    h1{ font-size: 45px;}
}

@media(min-width: 586px){
    .open-slide{display: none;}
}

