@import url('https://fonts.googleapis.com/css?family=Rye&display=swap');
/* TITLE */
h1 {
    font-family: 'Rye', cursive, Courier, monospace;
    font-size: 85px;
    text-align: center;
    background: url('../img/natural_paper.png');
}
img {
    width: 100%;
    height: auto;
}
body {
    background: url('../img/mosaic.png');

}
/* OWL */
.wrapper {
    width: 100;
    height: auto;
    overflow: hidden;
}
.item {
    background: red;
    height: auto;
    width: 100%;
}
.owl-dots {
    display: none;
}
/* NAV */
.navbar-nav {
    display: inline;
}
.navbar {
    background-color: #004b06bb;
    overflow: hidden;
    height: 63;
    position: relative;
    display: block;
}

.navbar a {
    float: left;
    display: block;
    color:#f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size:24px;
    font-family: 'Rye', Courier, monospace;
}

.navbar ul{
    padding: 8px 0 0 0;
    list-style: none;
}

.navbar a:hover{
    background-color: rgb(112, 4, 4);
    color:#ff4646;
}

.side-nav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    background-color: #111111;
    opacity:0.9;
    overflow-x: hidden;
    padding-top:60px;
    transition: 0.3s;
}

.side-nav a {
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size:22px;
    color: #ff4646;
    display: block;
    transition: 0.3s;
    font-family: 'Rye', Courier, monospace;
}

.side-nav a:hover{
    color:#fff;
}

.side-nav .btn-close{
    position: absolute;
    top:0;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;

}

#main{
    transition: margin-left 0.3s;
    padding:20px;
    overflow:hidden;
    width: 100%;
}

@media(max-width: 586px){
    .navbar-nav{display: none;}
    h1{ font-size: 45px;}
}

@media(min-width: 586px){
    .open-slide{display: none;}
    img{
        height: auto;
        width: 100%;
    }
}